In [20]:
import pandas as pd
import numpy as np
import osmnx as ox

test = {
    'Name': ['Loona', 'Aurélien', 'Amaury', 'Annabelle'],
    'Age': [20, np.NAN, 15, 20],
    'Height': [166, 189, 189, 166]
}

df = pd.DataFrame(test)

df

        Name   Age  Height
0      Loona  20.0     166
1   Aurélien   NaN     189
2     Amaury  15.0     189
3  Annabelle  20.0     166

In [ ]:
def get_node_group(this_graph, key):
    edge = ox.graph_to_gdfs(this_graph, nodes=False)
    r = edge[key].fillna("").groupby(key)

    group = dict(list(r))

    r = {}

    for k, v in group.items():
        node_id = v.reset_index().values[:, 0:2].reshape(-1)
        r[k] = np.unique(node_id)

    return r

In [30]:
COLUMNS = ['Height', 'Age']

r = df[COLUMNS].fillna("").groupby(COLUMNS)

group = dict(list(r))

group.items()

for k, v in group.items():
    print(f'k = {k} and v = {v}')

k = (166, 20.0) and v =    Height   Age
0     166  20.0
3     166  20.0
k = (189, 15.0) and v =    Height   Age
2     189  15.0
k = (189, '') and v =    Height Age
1     189

In [ ]:
r = get_node_group()

In [34]:
df.values[:, 0:3]

array([['Loona', 20.0, 166],
       ['Aurélien', nan, 189],
       ['Amaury', 15.0, 189],
       ['Annabelle', 20.0, 166]], dtype=object)